<html>

<head>
	<title>Δ Kierwin Ramos | Profile</title>
</head>

<body>
	<nav class="nav">
		<div class="logo">
			<h2>{{logo}}</h2>
		</div>
	</nav>
	<div class="container">
		<div class="box1"></div>
		<div class="box2">
			<div class="sbox">
				<h2>{{greet}}</h2>
				<h1 class="name1">{{name}}</h1>
				<h2>{{job}}<br>{{sect}}</h2>
					<h3>
						{{age}} <br /> {{add}}
						<br />
          </h3>
						<p>
							{{intro}}
						</p>
			</div>
		</div>
		<div class="box3">
			<img
          class="img1"
          src="https://i.pinimg.com/750x/8d/67/45/8d674504d5298d06a54694afca83ae5e.jpg"
        />
      </div>
		</div>

</body>

<body>
	<nav class="nav1">
		<h3>{{footer}}</h3>
	</nav>
</body>

</html>